@font-face {
  font-family: "Proxima Nova";
  src: url("../public/Fonts/Proxima\ Nova\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova" !important;
  background: var(--bg-color-white) !important;
}

:root {
  --primary-color: #48bfee;
  --bg-color-white: #fafbfc;
  --header-text-color: #121c48;
  --bg-color-dark: #1c252e;
  --bg-color-light-dark: #28323c;
  --secondary-color: #f36d6a;
}
