

.menuButton {
  outline: none;
  border: none;
  background: none;
}

.menuButton i {
  font-size: 2em;
}

.button.featuredButton {
  padding: 5px 20px;
  height: 30px;
  font-size: 0.8em;
}

.adsImg {
  width: 15em;
  height: 15em;
  object-fit: contain;
}






@media screen and (max-width: 768px) {
  .navBar {
    padding: 2em 0 !important;
  }

  .mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color-dark);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileNavActive {
    transform: translateX(0) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color-dark);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileNavActive .navLinks,
  .mobileNav .navLinks {
    padding: 1em 0;
  }

  .closeBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }

  .newsContainer {
    margin-left: 0.8em !important;
  }
  
}
